In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from matplotlib import pyplot as plt
import math
import seaborn as sns

Bad key "text.kerning_factor" on line 4 in
C:\Users\britn\anaconda3\envs\iod\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution

In [4]:
df = pd.read_csv('../../DATA/sales_1.csv')

In [5]:
df

        Date      SKU Group  Units_pkg  Avg_price_pkg  Sales_pkg
0     201801   SKU_01     A         13              5        879
1     201801   SKU_02     B          7              7          8
2     201801   SKU_03     B          7              6        197
3     201801   SKU_04     C          4              6          1
4     201801   SKU_05     C          6              8          1
...      ...      ...   ...        ...            ...        ...
4133  202212  SKU_186     N         50              4         10
4134  202212  SKU_187     N        100              7        216
4135  202212  SKU_170     Y         40             12         33
4136  202212  SKU_171     Y         40              9        100
4137  202212  SKU_143     T        100             12          0

[4138 rows x 6 columns]

In [6]:
## SKU: Unique code consisting of letters and numbers that identify each product
## GROUP: Group of related products which share some common attributes
## UNITS_PKG: Quantity per package
## AVG_PRICE_PKG: Average price per package
## SALES_PKG: Total package sales per month